@using ServiceLayer.Services
@using Shared.Dtos
@inject IServiceLayer ServiceLayer
@code {
    private string entryName = string.Empty;
    private string entryAddress = string.Empty;
    private string entryUsername = string.Empty;
    private string entryPassword = string.Empty;
    private string category = string.Empty;

    [Parameter]
    public EventCallback<LoginEntryDTO> OnCreate { get; set; }

    [Parameter]
    public EventCallback OnCancel { get; set; }

    private async Task CreateEntry()
    {
        var newEntry = new LoginEntryDTO
        {
            EntryName = entryName,
            EntryAddress = entryAddress,
            EntryUsername = entryUsername,
            EntryPassword = entryPassword,
            EntryCategory = category
        };

        await OnCreate.InvokeAsync(newEntry);
    }

    private async Task CloseCreateModal()
    {
        await OnCancel.InvokeAsync();
    }
}

<div class="modal fade show d-block" tabindex="-1" style="background: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Entry</h5>
                <button type="button" class="close" @onclick="CloseCreateModal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="entryName">Name</label>
                    <input type="text" id="entryName" class="form-control" @bind="entryName" />
                </div>
                <div class="form-group">
                    <label for="entryAddress">Website</label>
                    <input type="text" id="entryAddress" class="form-control" @bind="entryAddress" />
                </div>
                <div class="form-group">
                    <label for="entryUsername">Username</label>
                    <input type="text" id="entryUsername" class="form-control" @bind="entryUsername" />
                </div>
                <div class="form-group">
                    <label for="entryPassword">Password</label>
                    <input type="text" id="entryPassword" class="form-control" @bind="entryPassword" />
                </div>
                <div class="form-group">
                    <label for="category">Category</label>
                    <select id="category" class="form-control" @bind="category">
                        <option>Select</option>
                        <option>Social Media</option>
                        <option>Bank - Pension - Insurance</option>
                        <option>Other</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" @onclick="CloseCreateModal">Cancel</button>
                <button class="btn btn-primary" @onclick="CreateEntry">Add</button>
            </div>
        </div>
    </div>
</div>
