.loginEntry-section {
  background-color: var(--color-primary-light);
  color: #f8f8f8;
  text-align: left;
  padding: 5px 10px;
  font-size: 0.9rem; 
}

.tableCell-mouseover-pointer:hover {
  cursor: pointer;
}

.table-container {
  max-height: 800px;
  overflow-y: scroll;
}

.loginEntry-table {
  table-layout: fixed;
  width: 100%;
  word-wrap: break-word;
  white-space: normal;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}




