.loginEntry-section {
  background-color: var(--color-primary-light);
  color: #f8f8f8;
  text-align: left;
  padding: 5px 10px;
  font-size: 0.9rem; 
}

.tableCell-mouseover-pointer:hover {
  cursor: pointer;
}

.table-container {
  max-height: 800px;
  overflow-y: scroll;
}

.loginEntry-table {
  table-layout: fixed;
  font-size: 0.8rem;
}

.loginEntry-section {
  position: sticky; 
  height: 30px; 
  top: 0; 
}

.loginEntry-table thead {
  position: sticky; 
  top: 30px;
  background: #f8f8f8;
}




