@using Microsoft.AspNetCore.Components.Sections
@using ServiceLayer.Services
@using Shared.CommunicationObjects
@using Shared.Dtos
@inject IServiceLayer ServiceLayer
@inject AuthenticationStateProvider AuthProvider

<EditLoginEntryModal @ref="editLoginEntryModal" 
                     SelectedEntry="selectedEntry"
                     OnUpdateEntrySuccess="HandleEntryUpdateSuccess" 
                     OnDeleteEntrySuccess="HandleEntryDeleteSuccess" />

@code {
    [Parameter]
    public string masterUsername { get; set; } = string.Empty;
    [Parameter]
    public string masterPassword { get; set; } = string.Empty;
    
    private int masterUserId = 0;
    
    // Edit and delete attributes
    private LoginEntryDTO? selectedEntry; 
    private EditLoginEntryModal? editLoginEntryModal;

    private string generatedPassword = string.Empty;

    private bool isCreateModalOpen = false;

    private List<LoginEntryDTO> socialMediaEntries = new();
    private List<LoginEntryDTO> bankEntries = new();
    private List<LoginEntryDTO> otherEntries = new();
    private MarkupString loadExceptionMsg = new();

    protected override async Task OnInitializedAsync()
    {
        await InitializeMasterUser();
        await LoadEntries();
    }

    private async Task InitializeMasterUser()
    {
        var authState = await AuthProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity?.IsAuthenticated == true)
        {
            masterUsername = user.Identity.Name ?? string.Empty;
            masterPassword = user.Claims.FirstOrDefault(c => c.Type == "MasterUserPassword").Value ?? string.Empty;
            masterUserId = int.Parse(user.Claims.FirstOrDefault(c => c.Type == "MasterUserId")?.Value ?? "0");
        }
        else
        {
            Console.WriteLine("User is not authenticated. Redirecting to login.");
            loadExceptionMsg = (MarkupString)("<b>Error:</b> User not authenticated. Please log in.");
        }
    }

    private async Task LoadEntries()
    {
        int retryCount = 3;
        int counter = 0;
        while (counter < retryCount)
        {
            ServerResponse? response;
            try
            {
                loadExceptionMsg = (MarkupString)("");
                response = await ServiceLayer.ReadLoginEntriesAsync(new MasterUserDTO(masterUserId, masterUsername, masterPassword));

                if (response is { statusCode: 200, dto: LoginEntryListDTO { loginEntries.Count: > 0 } entries })
                {
                    //Clear lists to make room for the updated entries
                    socialMediaEntries.Clear();
                    bankEntries.Clear();
                    otherEntries.Clear();
                    
                    IEnumerable<LoginEntryDTO> enumerableEntries = entries.loginEntries;
                    // Categorize entries to "Social Media" category:
                    socialMediaEntries = enumerableEntries.Where(e => e.EntryCategory == "Social Media").ToList(); //TODO: These names should not be hard-coded. They should be read from the DB list of Categories.
                    foreach (var loginEntryDto in socialMediaEntries)
                        entries.RemoveLoginEntry(loginEntryDto); //Remove already assigned entries, so any remainders can be caught later and added to "Others" category.
                    
                    // Categorize entries to "Bank - Pension - Insurance" category:
                    bankEntries = enumerableEntries.Where(e => e.EntryCategory == "Bank - Pension - Insurance").ToList(); //TODO: These names should not be hard-coded. They should be read from the DB list of Categories.
                    foreach (var loginEntryDto in bankEntries)
                        entries.RemoveLoginEntry(loginEntryDto); //Remove already assigned entries, so any remainders can be caught later and added to "Others" category.

                    // Categorize remaining entries to "Others" category:
                    foreach (var loginEntryDto in entries.loginEntries)
                        otherEntries.Add(loginEntryDto);
                    
                    counter += 100000;
                }
            }
            catch (Exception e)
            {
                Console.WriteLine($"[PMModule] Exception occurred: {e.Message}");
                loadExceptionMsg = (MarkupString)("<b>Error:</b> Exception occurred while loading login entries." +
                                                  $"<br><br><b>Type:</b> {e.GetType()}<br><br><b>Reason:</b> {e.Message}");
                counter++;
                Thread.Sleep(250);
            }
        }
        StateHasChanged();
    }

    private void OpenCreateModal()
    {
        isCreateModalOpen = true;
        StateHasChanged(); 
    }

    private void CloseCreateModal()
    {
        isCreateModalOpen = false;
        StateHasChanged(); 
    }

    private async Task HandleCreate()
    {
        Console.WriteLine("HandleCreate called");
        await LoadEntries(); // Refresh the entries
        Console.WriteLine("Entries reloaded successfully.");
        StateHasChanged(); // Ensure the UI reflects the new state
    }

    private void GeneratePassword()
    {
        generatedPassword = GenerateRandomPassword();
        StateHasChanged();
    }

    private string GenerateRandomPassword()
    {
        const string chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789!@#$%^&*";
        var random = new Random();
        return new string(Enumerable.Repeat(chars, 12)
            .Select(s => s[random.Next(s.Length)]).ToArray());
    }

    private void ShowEditLoginEntryModal()
    {
        if (editLoginEntryModal != null)
        {
            editLoginEntryModal.ShowModal();
        }
        else
        {
            Console.WriteLine("editLoginEntryModal is null.");
        }
    }
    
    private async Task HandleEntryUpdateSuccess()
    {
        await LoadEntries();
        StateHasChanged();
    }
    
    private async Task HandleEntryDeleteSuccess()
    {
        await LoadEntries();
        StateHasChanged();
    }
    
    private void OnEntrySingleClicked(LoginEntryDTO entry)
    {
        selectedEntry = entry;
        Console.WriteLine($"Entry selected with single click: {entry.EntryName}");
    }

    private void OnEntryDoubleClicked(LoginEntryDTO entry)
    {
        selectedEntry = entry;
        ShowEditLoginEntryModal();
    }
}

<div class="card shadow bg-white rounded overflow-hidden" style="max-width:100%; margin: 0 auto; max-height:90vh;">
    <div class="card-header text-white p-3" style="background-color: #00517D;">
        Password Manager
    </div>

    <div class="d-flex justify-content-start align-items-center p-3" style="background-color: #007bc7; border-color: var(--color-primary-dark); border-bottom: 2px solid;">
        <span class="text-white">Welcome, @masterUsername!</span>
        <button class="btn btn-sm btn-outline-light ms-3" @onclick="GeneratePassword">Generate Password</button>
        <span class="text-white ms-2">@generatedPassword</span>
    </div>

    <div class="d-flex">
        <div class="p-4" style="width: 200px; background-color: #007bc7; color: white;">
            <div class="mb-4">
                Welcome @masterUsername!
            </div>
            
            <button class="btn bg-white mb-3 btn-sm" style="width: 100%;" @onclick="OpenCreateModal">Create Entry</button>
            <button class="btn bg-white mb-3 btn-sm" style="width: 100%;" @onclick="ShowEditLoginEntryModal" disabled="@((selectedEntry == null))">Edit Entry</button>
        </div>

        <div class="flex-grow-1">
            <!-- Only shows a Category, if there exists any login-entries in said category -->
            @if (socialMediaEntries.Count > 0) {
            <LoginEntryListViewModule Entries="socialMediaEntries" Category="Social Media" OnEntrySingleClicked="OnEntrySingleClicked" OnEntryDoubleClicked="OnEntryDoubleClicked"/>
            }

            @if (bankEntries.Count > 0) {
            <LoginEntryListViewModule Entries="bankEntries" Category="Bank - Pension - Insurance" OnEntrySingleClicked="OnEntrySingleClicked" OnEntryDoubleClicked="OnEntryDoubleClicked"/>
            }

            <!-- Always shows the Other Category, even though no login entries are found -->
            <LoginEntryListViewModule Entries="otherEntries" Category="Other" OnEntrySingleClicked="OnEntrySingleClicked" OnEntryDoubleClicked="OnEntryDoubleClicked"/>

            @if (loadExceptionMsg.ToString().Length > 0) {
            <div class="error-box">
                <p>@loadExceptionMsg</p>
            </div>
            }
        </div>
    </div>
</div>

@if (isCreateModalOpen)
{
    <CreateEntryModule OnCreate="HandleCreate" OnCancel="CloseCreateModal" />
}
