@page "/"
@rendermode InteractiveServer
@using BlazorUI.Components.Modules

<div class="container">
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <AuthorizeView>
            <NotAuthorized>
                <LoginModule />
            </NotAuthorized>
            <Authorized>
                <PMModule />
            </Authorized>
        </AuthorizeView>
    </div>
</div>