@page "/"
@rendermode InteractiveServer
@using BlazorUI.Components.Modules


@code {
    private bool isLoggedIn = false; 
    private string masterUsername = string.Empty;
    private LoginModule? loginModule;
    private PMModule? pmModule;
    private CreateEntryModule? _createEntryModule;
 
    
    private async Task OnLoginSuccess()
    {
        isLoggedIn = true;
        masterUsername = "LoggedInUser";
        StateHasChanged();
    }
}

<div class="container">
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        @if (!isLoggedIn)
        {
        <LoginModule OnLoginSuccess="OnLoginSuccess" />
        }
        else
        {
        <PMModule masterUsername="@masterUsername" />
        }
    </div>
</div>
