@page "/"
@using BlazorUI.Components.Modules

@code {

    private LoginModule? loginModule;
    private PMModule? pmModule;
    private CreateUpdateEntryModule? createUpdateEntryModule;
}

<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    @* <LoginModule @ref="loginModule" /> *@
    @* <PMModule @ref="pmModule"/>*@
    <CreateUpdateEntryModule @ref="createUpdateEntryModule"/>

</div>