@page "/"
@using BlazorUI.Components.Modules

@code {

    private LoginModule? loginModule;
    private PMModule? pmModule;
    private CreateEntryModule? _createEntryModule;
}

<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    @* <LoginModule @ref="loginModule" /> *@
    <PMModule @ref="pmModule"/>
    @*   <CreateEntryModule @ref="_createEntryModule"/> *@

</div>