/PM_Backend/Common/target/
/PM_Backend/dbServer/target/
/PM_Backend/dbServerDiscoveryService/target/
/PM_Backend/LoadBalancer/target/
/PM_Backend/WebAPI/target/
/PM_Frontend/BlazorUI/obj/
/PM_Frontend/Shared/obj/
/PM_Frontend/TestBlazorApp/obj/

