/PM_Backend/Common/target/
/PM_Backend/dbServer/target/
/PM_Backend/dbServerDiscoveryService/target/
/PM_Backend/LoadBalancer/target/
/PM_Backend/WebAPI/target/
/PM_Frontend/BlazorUI/obj/
/PM_Frontend/BlazorUI/bin/
/PM_Frontend/Shared/obj/
/PM_Frontend/Shared/bin/
/PM_Frontend/TestBlazorApp/obj/
/PM_Frontend/TestBlazorApp/bin/
/PM_Frontend/ServiceLayer/obj/
/PM_Frontend/ServiceLayer/bin/

PM_Frontend/.idea/.idea.PM_Frontend/.idea/workspace.xml
PM_Frontend/BlazorUI/obj/BlazorUI.csproj.nuget.dgspec.json
PM_Frontend/BlazorUI/obj/BlazorUI.csproj.nuget.g.props
PM_Frontend/BlazorUI/obj/Debug/net8.0/BlazorUI.AssemblyInfo.cs
PM_Frontend/BlazorUI/obj/Debug/net8.0/BlazorUI.AssemblyInfoInputs.cache
PM_Frontend/BlazorUI/obj/Debug/net8.0/BlazorUI.assets.cache
PM_Frontend/BlazorUI/obj/Debug/net8.0/BlazorUI.csproj.AssemblyReference.cache
PM_Frontend/BlazorUI/obj/Debug/net8.0/BlazorUI.GeneratedMSBuildEditorConfig.editorconfig
PM_Frontend/BlazorUI/obj/project.assets.json
PM_Frontend/BlazorUI/obj/project.nuget.cache
PM_Frontend/BlazorUI/obj/project.packagespec.json
PM_Frontend/BlazorUI/obj/rider.project.model.nuget.info
PM_Frontend/BlazorUI/obj/rider.project.restore.info
PM_Frontend/ServiceLayer/obj/Debug/net8.0/ServiceLayer.AssemblyInfo.cs
PM_Frontend/ServiceLayer/obj/Debug/net8.0/ServiceLayer.AssemblyInfoInputs.cache
PM_Frontend/ServiceLayer/obj/Debug/net8.0/ServiceLayer.assets.cache
PM_Frontend/ServiceLayer/obj/Debug/net8.0/ServiceLayer.csproj.AssemblyReference.cache
PM_Frontend/ServiceLayer/obj/Debug/net8.0/ServiceLayer.GeneratedMSBuildEditorConfig.editorconfig
PM_Frontend/ServiceLayer/obj/project.assets.json
PM_Frontend/ServiceLayer/obj/project.nuget.cache
PM_Frontend/ServiceLayer/obj/project.packagespec.json
PM_Frontend/ServiceLayer/obj/rider.project.restore.info
PM_Frontend/ServiceLayer/obj/ServiceLayer.csproj.nuget.dgspec.json
PM_Frontend/ServiceLayer/obj/ServiceLayer.csproj.nuget.g.props
PM_Frontend/Shared/obj/Debug/net8.0/Shared.AssemblyInfo.cs
PM_Frontend/Shared/obj/Debug/net8.0/Shared.AssemblyInfoInputs.cache
PM_Frontend/Shared/obj/Debug/net8.0/Shared.assets.cache
PM_Frontend/Shared/obj/Debug/net8.0/Shared.csproj.AssemblyReference.cache
PM_Frontend/Shared/obj/Debug/net8.0/Shared.GeneratedMSBuildEditorConfig.editorconfig
PM_Frontend/Shared/obj/project.assets.json
PM_Frontend/Shared/obj/project.nuget.cache
PM_Frontend/Shared/obj/project.packagespec.json
PM_Frontend/Shared/obj/rider.project.restore.info
PM_Frontend/Shared/obj/Shared.csproj.nuget.dgspec.json
PM_Frontend/Shared/obj/Shared.csproj.nuget.g.props
PM_Frontend/TestBlazorApp/obj/Debug/net8.0/TestBlazorApp.AssemblyInfo.cs
PM_Frontend/TestBlazorApp/obj/Debug/net8.0/TestBlazorApp.AssemblyInfoInputs.cache
PM_Frontend/TestBlazorApp/obj/Debug/net8.0/TestBlazorApp.assets.cache
PM_Frontend/TestBlazorApp/obj/Debug/net8.0/TestBlazorApp.csproj.AssemblyReference.cache
PM_Frontend/TestBlazorApp/obj/Debug/net8.0/TestBlazorApp.GeneratedMSBuildEditorConfig.editorconfig
PM_Frontend/TestBlazorApp/obj/project.assets.json
PM_Frontend/TestBlazorApp/obj/project.nuget.cache
PM_Frontend/TestBlazorApp/obj/project.packagespec.json
PM_Frontend/TestBlazorApp/obj/rider.project.restore.info
PM_Frontend/TestBlazorApp/obj/TestBlazorApp.csproj.nuget.dgspec.json
PM_Frontend/TestBlazorApp/obj/TestBlazorApp.csproj.nuget.g.props
PM_Frontend/.idea/.idea.PM_Frontend/.idea/workspace.xml
PM_Frontend/BlazorUI/obj/BlazorUI.csproj.nuget.dgspec.json
PM_Frontend/BlazorUI/obj/BlazorUI.csproj.nuget.g.props
PM_Frontend/BlazorUI/obj/Debug/net8.0/BlazorUI.AssemblyInfo.cs
PM_Frontend/BlazorUI/obj/Debug/net8.0/BlazorUI.AssemblyInfoInputs.cache
PM_Frontend/BlazorUI/obj/Debug/net8.0/BlazorUI.assets.cache
PM_Frontend/BlazorUI/obj/Debug/net8.0/BlazorUI.csproj.AssemblyReference.cache
PM_Frontend/BlazorUI/obj/Debug/net8.0/BlazorUI.GeneratedMSBuildEditorConfig.editorconfig
PM_Frontend/BlazorUI/obj/project.assets.json
PM_Frontend/BlazorUI/obj/project.nuget.cache
PM_Frontend/BlazorUI/obj/project.packagespec.json
PM_Frontend/BlazorUI/obj/rider.project.model.nuget.info
PM_Frontend/BlazorUI/obj/rider.project.restore.info
PM_Frontend/ServiceLayer/obj/Debug/net8.0/ServiceLayer.AssemblyInfo.cs
PM_Frontend/ServiceLayer/obj/Debug/net8.0/ServiceLayer.AssemblyInfoInputs.cache
PM_Frontend/ServiceLayer/obj/Debug/net8.0/ServiceLayer.assets.cache
PM_Frontend/ServiceLayer/obj/Debug/net8.0/ServiceLayer.csproj.AssemblyReference.cache
PM_Frontend/ServiceLayer/obj/Debug/net8.0/ServiceLayer.GeneratedMSBuildEditorConfig.editorconfig
PM_Frontend/ServiceLayer/obj/project.assets.json
PM_Frontend/ServiceLayer/obj/project.nuget.cache
PM_Frontend/ServiceLayer/obj/project.packagespec.json
PM_Frontend/ServiceLayer/obj/rider.project.model.nuget.info
PM_Frontend/ServiceLayer/obj/rider.project.restore.info
PM_Frontend/ServiceLayer/obj/ServiceLayer.csproj.nuget.dgspec.json
PM_Frontend/ServiceLayer/obj/ServiceLayer.csproj.nuget.g.props
PM_Frontend/Shared/obj/Debug/net8.0/Shared.AssemblyInfo.cs
PM_Frontend/Shared/obj/Debug/net8.0/Shared.AssemblyInfoInputs.cache
PM_Frontend/Shared/obj/Debug/net8.0/Shared.assets.cache
PM_Frontend/Shared/obj/Debug/net8.0/Shared.csproj.AssemblyReference.cache
PM_Frontend/Shared/obj/Debug/net8.0/Shared.GeneratedMSBuildEditorConfig.editorconfig
PM_Frontend/Shared/obj/project.assets.json
PM_Frontend/Shared/obj/project.nuget.cache
PM_Frontend/Shared/obj/project.packagespec.json
PM_Frontend/Shared/obj/rider.project.model.nuget.info
PM_Frontend/Shared/obj/rider.project.restore.info
PM_Frontend/Shared/obj/Shared.csproj.nuget.dgspec.json
PM_Frontend/Shared/obj/Shared.csproj.nuget.g.props
PM_Frontend/TestBlazorApp/obj/Debug/net8.0/TestBlazorApp.AssemblyInfo.cs
PM_Frontend/TestBlazorApp/obj/Debug/net8.0/TestBlazorApp.AssemblyInfoInputs.cache
PM_Frontend/TestBlazorApp/obj/Debug/net8.0/TestBlazorApp.assets.cache
PM_Frontend/TestBlazorApp/obj/Debug/net8.0/TestBlazorApp.csproj.AssemblyReference.cache
PM_Frontend/TestBlazorApp/obj/Debug/net8.0/TestBlazorApp.GeneratedMSBuildEditorConfig.editorconfig
PM_Frontend/TestBlazorApp/obj/project.assets.json
PM_Frontend/TestBlazorApp/obj/project.nuget.cache
PM_Frontend/TestBlazorApp/obj/project.packagespec.json
PM_Frontend/TestBlazorApp/obj/rider.project.model.nuget.info
PM_Frontend/TestBlazorApp/obj/rider.project.restore.info
PM_Frontend/TestBlazorApp/obj/TestBlazorApp.csproj.nuget.dgspec.json
PM_Frontend/TestBlazorApp/obj/TestBlazorApp.csproj.nuget.g.props
