# Ignorer målmapper (target) i backend projekter
/PM_Backend/Common/target/
/PM_Backend/dbServer/target/
/PM_Backend/dbServerDiscoveryService/target/
/PM_Backend/LoadBalancer/target/
/PM_Backend/WebAPI/target/

# Ignorer bin og obj mapper i frontend projekter
/PM_Frontend/BlazorUI/bin/
/PM_Frontend/BlazorUI/obj/
/PM_Frontend/Shared/bin/
/PM_Frontend/Shared/obj/
/PM_Frontend/TestBlazorApp/bin/
/PM_Frontend/TestBlazorApp/obj/
/PM_Frontend/ServiceLayer/bin/
/PM_Frontend/ServiceLayer/obj/

# Ignorer .idea-mapper og specifikke filer i frontend projekt
/PM_Frontend/.idea/
/PM_Frontend/.idea/workspace.xml

# Ignorer midlertidige filer genereret af NuGet og MSBuild i BlazorUI-projektet
/PM_Frontend/BlazorUI/obj/BlazorUI.csproj.nuget.dgspec.json
/PM_Frontend/BlazorUI/obj/BlazorUI.csproj.nuget.g.props
/PM_Frontend/BlazorUI/obj/Debug/net8.0/BlazorUI.*

# Ignorer midlertidige filer genereret af NuGet og MSBuild i ServiceLayer-projektet
/PM_Frontend/ServiceLayer/obj/ServiceLayer.csproj.nuget.dgspec.json
/PM_Frontend/ServiceLayer/obj/ServiceLayer.csproj.nuget.g.props
/PM_Frontend/ServiceLayer/obj/Debug/net8.0/ServiceLayer.*

# Ignorer midlertidige filer genereret af NuGet og MSBuild i Shared-projektet
/PM_Frontend/Shared/obj/Shared.csproj.nuget.dgspec.json
/PM_Frontend/Shared/obj/Shared.csproj.nuget.g.props
/PM_Frontend/Shared/obj/Debug/net8.0/Shared.*

# Ignorer midlertidige filer genereret af NuGet og MSBuild i TestBlazorApp-projektet
/PM_Frontend/TestBlazorApp/obj/TestBlazorApp.csproj.nuget.dgspec.json
/PM_Frontend/TestBlazorApp/obj/TestBlazorApp.csproj.nuget.g.props
/PM_Frontend/TestBlazorApp/obj/Debug/net8.0/TestBlazorApp.*